---
import Link from "../ui/Link.astro";
import { getTrendingDatas } from "@/utils/data";
import Card from "@/components/AllTrending/Card.astro";
const type = "all";
const time = "day";

const datas = await getTrendingDatas(type, time, 1);
---

<main>
  <section class="w-full">
    <div class="w-full flex justify-between items-center">
      <h1 class="text-2xl font-bold">Trending All</h1>
      <Link
        href={`/trending?page=1&type=${type}&time=${time}`}
        class="text-blue-600 text-lg hover:text-xl transition-all duration-300 ease-linear"
        >See more</Link
      >
    </div>
    <section class="w-full mt-3 grid grid-cols-4 gap-4">
      {
        datas.results.map((data: AllTrending, i: number) => (
          <Card i={i} {...data} />
        ))
      }
    </section>
  </section>
</main>
