---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import { getDiscoverMovie } from "@/utils/data";
import Card from "@/components/Card.astro";

export const prerender = false;

const data = await getDiscoverMovie();
const movies = data.results as Movies;
---

<Layout title="Welcome to Astro." description="List all movies use API TMDB">
  <h1>Hai</h1>
  <main class="w-full bg-green-400 mt-3 grid grid-cols-4 gap-4">
    {movies.map((movie) => <Card {...movie} />)}
  </main>
  <Link href={"/1?tag=bal"}>Go to page 1</Link>
</Layout>
