---
import Layout from "@/layouts/Layout.astro";
import { getGenres } from "@/utils/data";
import ListGenre from "@/components/Genre/List.astro";
import HomepageMovie from "@/components/Movie/Homepage.astro";
import HomepageTv from "@/components/Tv/Homepage.astro";

const genreMovie = 28;
const genreTv = 16;

const genreListMovies: Array<Genre> = await getGenres("movie");
const genreListTv: Array<Genre> = await getGenres("tv");
console.log(genreListMovies);
console.log(genreListTv);
---

<Layout
  title="Welcome to Astro."
  description="List all movies use API TMDB"
  typeGenre="movie"
>
  <section class="w-full" slot="main-sidebar">
    <ListGenre lists={genreListMovies} />
    <ListGenre lists={genreListTv} />
  </section>
  <main class="col-span-4 w-full flex flex-col gap-4">
    <HomepageTv genreTv={genreTv} />
    <HomepageMovie genreMovie={genreMovie} />
  </main>
</Layout>

<style is:global>
  .slider-list {
    scroll-snap-type: x mandatory;
  }

  .slider-list > div {
    scroll-snap-align: start;
  }

  .slider-list::-webkit-scrollbar {
    height: 8px;
  }

  .slider-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .slider-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .slider-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
</style>
