---
import type { Movie } from "@/types/movie";
import { getDiscover, getDatas, getTrendingDatas } from "@/utils/data";
import Link from "@/components/ui/Link.astro";
import Card from "./Card.astro";

type Props = {
  genreMovie: number;
};

const { genreMovie } = Astro.props;

const datasTrending = await getTrendingDatas("all", "day", 1);

const popularIds = new Set(
  datasTrending.results.map((movie: AllTrending) => movie.id)
);

const discover = await getDiscover("movie", genreMovie, 1);
const movies_discover = discover.results
  ?.filter(
    (movie: Movie) =>
      typeof movie.poster_path === "string" &&
      typeof movie.backdrop_path === "string"
  )
  ?.filter((movie: Movie) => !popularIds.has(movie.id)) as Movies;
---

<main class="flex flex-col gap-7">
  <section class="w-full">
    <div class="w-full flex justify-between items-center">
      <h1 class="text-2xl font-bold">Movie Lists ( Action )</h1>
      <Link
        href={`/movie?page=1&genre=${genreMovie}`}
        class="text-blue-300 text-lg hover:text-xl transition-all duration-300 ease-linear"
        >Movies more</Link
      >
    </div>
    <section
      class="slider-list max-w-full overflow-x-auto flex gap-4 pb-5 items-stretch mt-4"
    >
      {
        movies_discover.map((movie) => (
          <div class="md:w-1/4 w-1/2 flex-shrink-0">
            <Card {...movie} />
          </div>
        ))
      }
    </section>
  </section>
</main>
