---
import type { GetStaticPaths } from "astro";
export const prerender = true;

export const getStaticPaths = (() => {
  return [{ params: { slug: "profile" } }, { params: { slug: "bookmark" } }];
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
---

<h1>{slug}</h1>
