---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/Navbar.astro";
import SidebarLayout from "./SidebarLayout.astro";
import CarouselSection from "@/components/React/Carousel";
import { getDatas } from "@/utils/data";
import type { Movie } from "@/types/movie";

interface Props {
  title: string;
  description: string;
}

let moviesUpcoming = await getDatas("movie", "upcoming", 1);

const filteredMovies = moviesUpcoming.results
  ?.filter(
    (movie: Movie) =>
      movie.backdrop_path !== undefined || movie.backdrop_path !== null
  )
  .splice(0, 3) as Movies;

const urlImg = import.meta.env.PUBLIC_TMDB_IMG_URL_ORIGINAL_SIZE;

const { title, description } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body class="bg-black bg-opacity-95 text-white">
    {pathname === "/signin" ? null : <Navbar />}
    {
      pathname === "/signin" || pathname !== "/" ? null : (
        <CarouselSection movies={filteredMovies} client:load />
      )
    }
    <main
      class={`max-w-layout w-full container ${pathname === "/signin" || pathname === "/favorite" ? "" : "grid grid-cols-5 gap-5 pb-10 pt-8"}`}
      transition:animate="none"
    >
      {
        pathname === "/signin" || pathname === "/favorite" ? null : (
          <SidebarLayout class="p-2">
            <slot name="main-sidebar" />
          </SidebarLayout>
        )
      }
      <slot />
    </main>
  </body>
</html>
